.wrap {text-align:center; width: 90%; margin: 0 auto; border: 1px solid black; margin-top:25px;}
.header {text-align:ledt; padding:25px}
.headerImg {float:left; width:200px;}
.headerText {float:left; height: 105px; padding-top: 50px; padding-left: 25px;}

body {background-color: #D2B48C;}
table {border-collapse: collapse; width: 50%; text-align: center;}
table, th, td {border: 5px solid white;}
th {background-color: #FFFF99; color: #696969; height: 50px; vertical-align: central; padding: 15px;}
td {background-color: #F08080; color: #FFFFFF; height: 30px; vertical-align: central; padding: 10px;}
tr:hover {background-color: #CCCCCC;}
tr:nth-child(even) {background-color: #F2F2F2;}
tr:nth-child(odd) {background-color: #EDEDED;}
input[type=text] {height: 30px; pading: 20px 20px; margin: 8px 0; box-sizing: border-box; font-size: 12pt;
border: 3px solid black; border-radius: 4px;}
input[type=submit] {background-color: blue; border: 5px solid black; color: white; padding: 16px 32px;
font-size: 16pt; text-decoration: none; margin: 4px 2px; cursor: pointer;}
input[type=reset] {background-color: blue; border: 5px solid black; color: white; padding: 16px 32px;
font-size: 16pt; text-decoration: none; margin: 4px 2px; cursor: pointer;}
label {display: inline-block; text-align: left; width: 60px;}
input[readonly] {background-color: gray;}

.navcontainer {margin-left: 30px; text-align:left;}
.navlist {list-style: none; padding: 0; margin: 0;}
.navlist li {display: inline; padding: 0; margin: 0;}
.navlist li:before {content: "| ";}
.navlist li:first-child:before {content: "";}
* html #navlist li {border-left: 1px solid black; padding: 0 0.4em 0 0.4em; margin: 0 0.4em 0 -0.4em;}
* html #navlist {height: 1%;}
* html #navlist li {display: block; float: left;}
* html #navlist li:first-child {border-left: 0;}

.main {text-align:left; padding:25px;}
.footer {text-align:left; padding: 25px;}